h1{
    text-align: center;
    font-family: "Calibri", sans-serif;
    color: red;
    text-decoration: overline underline dashed;
}

body{
    background-color: lightgray;
}

#summary{
    background-color: green;
    color: rgb(202, 202, 0);
    text-align: center;
    font-family: "Courier New", monospace;
}

img{
    border: 30px;
}

p{
    font-family: "Papyrus", cursive;
}

a{
    background-color: brown;
}

a:hover{
    background-color: brown;
    color: orange;
}

a:active{
    background-color: brown;
    color: green;
}

a:visited{
    background-color: brown;
    color: yellow;
}

em{
    text-decoration: underline dotted;
}

table{
    margin: 30px;
    color: rgb(41, 199, 41);
    font-size: 24px;
    border: dashed yellow;
}

th{
    color: blue;
}

td{
    text-align: center;
}

button{
    background-color: orange;
}

button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:active{
    background-color: black;
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}